/*Custom CSS*/

/*DASHBOARD*/
#dashboard {

}

#welcome-message {
  margin-top: 0;
}

/*LOGIN FORM*/
#login-form {
  width:320px;
  padding: 4% 0 0;
  margin: auto;
}
.login-form-heading {
  margin: 0;
}

.reg-info {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Navigation Bar*/
.cityscope-nav {
  color: #ffffff !important;
}

.navbar-default {
  background: #DB0A5B;
  border-radius: 0;
}


/*MAP*/
#company-map {
  height: 300px;
  width: 100%;
}
